* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(90deg, lightgrey, lightblue);
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
}
img {
  border-radius: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin-top: 5%;
  text-align: center;
}

.container {
  background-color: bisque;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 2rem;
}

ul {
  display: inline-block;
  text-align: left;
  font-size: 1.5rem;
}
